<div class="container mt-4">
    <h1 class="text-center m-5 display-4 fw-semibold text-secondary-emphasis">Notes collector</h1>
    <div class="d-flex justify-content-between align-items-center mb-5">
      <input
        type="text"
        class="form-control w-50"
        placeholder="Search notes by title..."
        [(ngModel)]="searchTitle"
        (input)="filterNotes()"
      />
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createNoteModal">New Note</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="createNoteModal" tabindex="-1" aria-labelledby="createNoteModal" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="createNoteModal">Insert the new note</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                <label for="noteTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="noteTitle" [(ngModel)]="newNote.title" placeholder="Enter title">
            </div>
            <div class="mb-3">
                <label for="noteText" class="form-label">Text</label>
                <textarea class="form-control" id="noteText" [(ngModel)]="newNote.text" placeholder="Enter text" rows="3"></textarea>
            </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="createNote()">Save</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Notes List -->
    <div *ngIf="filteredNotes.length === 0" class="text-center mt-5 ">
      <p class="display-6 mt-5 pt-5">No Notes saved at the moment. Please create a new one.</p>
    </div>
    <div class="accordion" id="notesAccordion" *ngIf="filteredNotes.length > 0">
      <div *ngFor="let note of filteredNotes" class="accordion-item">
        <h2 class="accordion-header" id="heading{{note.id}}">
          <button class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapse' + note.id"
                  [attr.aria-expanded]="!collapsedNotes[note.id]"
                  [attr.aria-controls]="'collapse' + note.id"
                  [ngClass]="{ 'collapsed': collapsedNotes[note.id] }"
                  (click)="toggleAccordion(note.id)">
            {{ note.title }}
          </button>
        </h2>
        <div [id]="'collapse' + note.id"
             class="accordion-collapse collapse"
             [ngClass]="{ 'show': !collapsedNotes[note.id] }"
             [attr.aria-labelledby]="'heading' + note.id"
             data-bs-parent="#notesAccordion">
          <div class="accordion-body">
            <p>{{ note.text }}</p>

            <button class="btn btn-info me-2"
                (click)="goToEdit(note)">Modify</button>
            <button class="btn btn-danger" (click)="deleteNote(note.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Toast container -->
    <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3 ">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body" style="text-align: center;">
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        </div>
    </div>
</div>
